html{
-webkit-text-size-adjust: none;
}

* {
margin:0;
padding:0;
font-size:1em;
}

body{
font-family: "Verdana", "Helvetica", sans-serif;
color:#202020;
line-height:1.1em;
}

table {
border-spacing: 0;
}
a{
text-decoration:none;
color:inherit;
}

body, .toolbar, .footer, .separator {
background-color:#202020;
}

.toolbar, .footer, .separator {
color: #ffffff;
padding: 5px;
}

.left {
position: absolute;
left: 5px;
float:left;
}

.right {
position: absolute;
right: 5px;
float:right;
}

.hidden {
display:none;
}

.loading {
-webkit-animation:pulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function: ease-in-out;
text-decoration:blink;
}

.button {
border: 1px solid #606060;
border-radius:8px;
padding: 10px 5px;
background-color:#404040;
font-size:0.8em;
}

.button:active{
color:#606060;
background-color: #202020;
border-color: #404040;
}

.toolbar, .footer {
text-align: center;
line-height:48px;
min-height:48px;
}

.footer {
font-size:0.8em;
color: #606060;
}

.toolbar h1, .menu h2 {
font-size:1.2em;
}

.toolbar h2 {
line-height:1.2em;
text-align:left;
padding-top: 15px;
}

.toolbar .right ~ h2 {
/* place for the button */
padding-right: 50px;
}

.toolbar .left ~ h2 {
/* place for the back button */
padding-left: 50px;
}

.menu {
/*line-height:48px;*/
}

.menu {
border-bottom:1px lightgray solid;
}

.menu .item {
border-top:1px lightgray solid;
display:block;
overflow:hidden;
padding:15px 5px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAYAAAB4d5a9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKVJREFUeNpi/P//PwOtARMDHcDwsYQFRJSXl8P4dVC6CZvizs5O8i1BsqARid9Ei+BiQ2KDLKumhSU1QNyKxG+hlkXoEQ+yqAPNogpapK5KNIvaKbUIVxKeAsTvkPg5QCxETUukgfgAkqFPgdgBzVKKLIFZoIJmwR1qBRdNLEC2BJQpV9LCAmRL/gBxAtRwqlqAXqzcgRrOQE0LQIBxtNIiBQAEGAA7xCa2yF9zEgAAAABJRU5ErkJggg==);
background-position: 100% 50%;
background-repeat: no-repeat;
}

.panel {
background-color:white;
}

.message {
padding-left: 5px;
line-height: 2em;
background-color:lightyellow;
word-wrap: break-word;
font-size:0.8em;
}

#main {
max-width: 640px;
margin-left:auto;
margin-right:auto;
}

.content {
padding:5px;
word-wrap: break-word;
}

.separator {
padding-top: 10px;
}

/* fix action location for big screens */
@media screen and (min-device-width: 640px) {
	.left, .right { 
	position:relative;
	left:0;
	right:0;
	}
}

@-webkit-keyframes pulse {
	0% {
	opacity: 1.0;
	}
	50% {
	opacity: 0;
	}
	100% {
	opacity: 1.0;
	}
}
